DFNS_API_URL=https://api.dfns.io
DFNS_AUTH_TOKEN=
DFNS_CRED_ID=
DFNS_PRIVATE_KEY=
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
VAULT_CONTRACT_ID=CCKW7NFKDCOTOVUODLJ6K734ZEYT4TZLQGLIVFZZR6DLUHO6UOTENWQ6
