# Copier vers .env.local et renseigner les IDs testnet
NEXT_PUBLIC_VAULT_ID=
NEXT_PUBLIC_USDC_SAC=
NEXT_PUBLIC_USDC_ISSUER=
NEXT_PUBLIC_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.org
